<html>
<head></head>
<body>
<h1>Login Page</h1>

	           <button (click)= "login()" class="loginBtn loginBtn--facebook">
                Login with Facebook
               </button>

               <button (click)="getProfile()" class="loginBtn loginBtn--google">
               Login with Google
               </button>
               <br>
               <br>


               <!--<button (click)="add()" class="btn">
               Load profile
               </button>-->
               <users></users>
              
            <br>
              


              <section class="main">
	 <form class="search" method="post" action="index.html" >
		 <input type="text" name="q" placeholder="Search..." />
		<!--> <ul class="results" >
			 <li><a href="#">Search Result #1<br /><span>Description...</span></a></li>
			 <li><a href="#">Search Result #2<br /><span>Description...</span></a></li>
	 		<li><a href="#">Search Result #3<br /><span>Description...</span></a></li>
         	<li><a href="#">Search Result #4</a></li>
		 </ul><-->

	 </form>
</section>
<input list="browsers">

<datalist id="browsers">
  <option value="Internet Explorer">
  <option value="Firefox">
  <option value="Chrome">
  <option value="Opera">
  <option value="Safari">
</datalist>


</body>
</html>